FuncionarioApp/FuncionarioApp/Web References/localhost/Funcionarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObterFuncionariosPorSexo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFuncionariosPorSexoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xml" nillable="true" type="tns:xml" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="xml">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="funcionarios" type="tns:ArrayOfFuncionario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFuncionario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Funcionario" nillable="true" type="tns:Funcionario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Funcionario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idt_func" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tel_residencial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tel_celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_nascimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObterFuncionariosPorSexoSoapIn">
    <wsdl:part name="parameters" element="tns:ObterFuncionariosPorSexo" />
  </wsdl:message>
  <wsdl:message name="ObterFuncionariosPorSexoSoapOut">
    <wsdl:part name="parameters" element="tns:ObterFuncionariosPorSexoResponse" />
  </wsdl:message>
  <wsdl:portType name="FuncionariosSoap">
    <wsdl:operation name="ObterFuncionariosPorSexo">
      <wsdl:input message="tns:ObterFuncionariosPorSexoSoapIn" />
      <wsdl:output message="tns:ObterFuncionariosPorSexoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FuncionariosSoap" type="tns:FuncionariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterFuncionariosPorSexo">
      <soap:operation soapAction="http://tempuri.org/ObterFuncionariosPorSexo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FuncionariosSoap12" type="tns:FuncionariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterFuncionariosPorSexo">
      <soap12:operation soapAction="http://tempuri.org/ObterFuncionariosPorSexo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Funcionarios">
    <wsdl:port name="FuncionariosSoap" binding="tns:FuncionariosSoap">
      <soap:address location="http://localhost:11606/Funcionarios/Funcionarios.asmx" />
    </wsdl:port>
    <wsdl:port name="FuncionariosSoap12" binding="tns:FuncionariosSoap12">
      <soap12:address location="http://localhost:11606/Funcionarios/Funcionarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>